# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
Generated.xcconfig

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Misc
*.lock
*.log

# APK
*.apk

# Output folders
outputs/
